<?xml version="1.0" encoding="UTF-8"?>
<!-- 60초 설정 파일 스캔 -->
<configuration scan="TRUE" scanPeriod="60 SECONDS">

  <!-- Console Appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%logger{0}:%line] - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- LOG4JDBC OPTION -->
  <logger name="jdbc" level="OFF"/>
  <!-- JDBC CONNECTION OPEN CLOSE EVENT LOGGING -->
  <logger name="jdbc.connection" level="OFF"/>
  <!-- ALL JDBC CALL LOGGING -->
  <logger name="jdbc.resultset" level="OFF"/>
  <!-- SQL Logging -->
  <logger name="jdbc.sqlonly" level="DEBUG" appender-ref="STDOUT"/>
  <!-- SQL RUN MILLISECONDS -->
  <logger name="jdbc.sqltiming" level="DEBUG" appender-ref="STDOUT"/>
  <!-- SQL RESULT TABLE -->
  <logger name="jdbc.resultsettable" level="OFF" appender-ref="STDOUT"/>

  <!-- TRACE < DEBUG < INFO < WARN < ERROR -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
