<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.JspMybatisSample.mapper.article.ArticleMapper">

  <resultMap id="articleDto" type="com.example.JspMybatisSample.domain.article.dto.ArticleDto">
    <id column="article_id" property="articleId"/>
    <result column="article_title" property="articleTitle"/>
    <result column="article_content" property="articleContent"/>
    <result column="article_writer" property="articleWriter"/>
    <result column="article_view_count" property="articleViewCount"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_at" property="updatedAt"/>
  </resultMap>

  <select id="selectArticles" resultMap="articleDto">
    SELECT *
    FROM board.article
    ORDER BY article_id
  </select>

  <select id="selectArticle" parameterType="java.lang.Long" resultMap="articleDto">
    SELECT *
    FROM board.article
    WHERE article_id = #{articleId}
  </select>

  <update id="selectArticlePlusViewCount" parameterType="java.lang.Long">
    UPDATE board.article
    SET article_view_count = article_view_count + 1
    WHERE article_id = #{articleId}
  </update>

  <insert id="insertArticle"
    parameterType="com.example.JspMybatisSample.domain.article.dto.InsertArticleDto">
    <selectKey keyProperty="seq_article" resultType="java.lang.Long" order="BEFORE">
      SELECT seq_article.NEXTVAL FROM DUAL
    </selectKey>
    <![CDATA[
        INSERT INTO board.article
        (
            article_id,
            article_title,
            article_content,
            article_writer,
            created_at,
            updated_at
        )
            VALUES
        (
            #{seq_article},
            #{articleTitle},
            #{articleContent},
            #{articleWriter},
            now(),
            now()
        )
    ]]>
  </insert>

  <update id="updateArticle"
    parameterType="com.example.JspMybatisSample.domain.article.dto.UpdateArticleDto">
    UPDATE board.article
    SET article_title   = #{updateArticle.articleTitle},
        article_content = #{updateArticle.articleContent},
        updated_at      = now()
    WHERE article_id = #{articleId}
  </update>

  <delete id="deleteArticle" parameterType="java.lang.Long">
    DELETE
    FROM board.article
    WHERE article_id = #{articleId}
  </delete>

</mapper>