<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.JspMybatisSample.mapper.comment.CommentMapper">

  <resultMap id="commentResultMap"
    type="com.example.JspMybatisSample.domain.comment.dto.CommentDto">
    <id column="comment_id" property="commentId" javaType="long"/>
    <result column="comment_content" property="commentContent"/>
    <result column="comment_created_at" property="createdAt"/>
    <result column="comment_updated_at" property="updatedAt"/>
    <association property="member" column="member_id"
      javaType="com.example.JspMybatisSample.domain.member.dto.MemberDto$MemberWithoutPasswordDto">
      <id column="member_id" property="memberId" javaType="Long"/>
      <result column="member_email" property="memberEmail"/>
      <result column="member_name" property="memberName"/>
      <result column="member_role" property="memberRole"/>
      <result column="member_created_at" property="createdAt"/>
      <result column="member_updated_at" property="updatedAt"/>
    </association>
  </resultMap>

  <resultMap id="articleResultMap"
    type="com.example.JspMybatisSample.domain.article.dto.ArticleDto">
    <id column="article_id" property="articleId" javaType="long"/>
    <result column="article_title" property="articleTitle"/>
    <result column="article_content" property="articleContent"/>
    <result column="article_view_count" property="articleViewCount"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_at" property="updatedAt"/>
    <association property="member" column="member_id"
      javaType="com.example.JspMybatisSample.domain.member.dto.MemberDto"
      resultMap="memberResultMap"/>
  </resultMap>

  <select id="selectComments" resultMap="commentResultMap">
    SELECT *
    FROM board.comment c
           INNER JOIN board.article a ON c.article_id = a.article_id
           INNER JOIN board.member m ON c.member_id = m.member_id
    ORDER BY c.article_id DESC
  </select>

  <select id="selectComment" parameterType="long" resultMap="commentResultMap">
    SELECT *
    FROM board.comment c
           INNER JOIN board.article a ON c.article_id = a.article_id
           INNER JOIN board.member m ON c.member_id = m.member_id
    WHERE c.comment_id = #{commentId}
  </select>

  <select id="selectCommentByArticleId" parameterType="long" resultMap="commentResultMap">
    SELECT c.comment_id,
           c.article_id,
           c.comment_content,
           c.created_at AS comment_created_at,
           c.updated_at AS comment_updated_at,
           m.member_id,
           m.member_email,
           m.member_password,
           m.member_name,
           m.member_role,
           m.created_at AS member_created_at,
           m.updated_at AS member_updated_at
    FROM board.comment c
           INNER JOIN board.member m ON c.member_id = m.member_id
    WHERE c.article_id = #{articleId}
  </select>

  <insert id="insertComment"
    parameterType="com.example.JspMybatisSample.domain.comment.dto.InsertCommentDto">
    INSERT INTO board.comment
    (article_id,
     comment_content,
     member_id,
     created_at,
     updated_at)
    VALUES (#{articleId},
            #{commentContent},
            #{memberId},
            now(),
            now())
  </insert>

  <update id="updateComment"
    parameterType="com.example.JspMybatisSample.domain.comment.dto.UpdateCommentDto">
    UPDATE board.comment
    SET comment_content = #{updateComment.commentContent},
        updated_at      = now()
    WHERE comment_id = #{commentId}
  </update>

  <delete id="deleteComment" parameterType="long">
    DELETE
    FROM board.comment
    WHERE comment_id = #{commentId}
  </delete>

</mapper>
