<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.JspMybatisSample.mapper.mypage.MyPageMapper">

  <resultMap id="memberWithPasswordDto"
    type="com.example.JspMybatisSample.domain.member.dto.MemberDto$MemberWithPasswordDto">
    <id column="member_id" property="memberId"/>
    <result column="member_email" property="memberEmail"/>
    <result column="member_password" property="memberPassword"/>
    <result column="member_name" property="memberName"/>
    <result column="upload_file_name" property="uploadFileName"/>
    <result column="store_file_name" property="storeFileName"/>
    <result column="store_path" property="storePath"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_at" property="updatedAt"/>
  </resultMap>

  <resultMap id="articleResultMap"
    type="com.example.JspMybatisSample.domain.article.dto.ArticleDto">
    <id column="article_id" property="articleId" javaType="long"/>
    <result column="article_title" property="articleTitle"/>
    <result column="article_content" property="articleContent"/>
    <result column="article_view_count" property="articleViewCount"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_at" property="updatedAt"/>
    <association property="member" column="member_id"
      javaType="com.example.JspMybatisSample.domain.member.dto.MemberDto$MemberWithoutPasswordDto">
      <id column="member_id" property="memberId" javaType="Long"/>
      <result column="member_email" property="memberEmail"/>
      <result column="member_name" property="memberName"/>
      <result column="member_role" property="memberRole"/>
      <result column="member_created_at" property="createdAt"/>
      <result column="member_updated_at" property="updatedAt"/>
    </association>
  </resultMap>

  <select id="selectMyPageMember" parameterType="Long" resultMap="memberWithPasswordDto">
    SELECT *
    FROM board.member
    WHERE member_id = #{memberId}
  </select>

  <update id="updateMyPageMember"
    parameterType="com.example.JspMybatisSample.domain.member.dto.UpdateMemberDto">
    UPDATE board.member
    SET member_email = #{memberEmail},
        member_name  = #{memberName}
    WHERE member_id = #{memberId}
  </update>

  <select id="selectMyPageArticle" parameterType="Long" resultMap="articleResultMap">
    SELECT *
    FROM board.article b
           INNER JOIN board.member m ON b.member_id = #{memberId}
    ORDER BY article_id DESC
  </select>

</mapper>
